<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="File" name="AppExceptions" fileName="C:\Users\Dorota\Desktop\logs\nlog-all-exceptions-${shortdate}.log"
                layout="${longdate}|${event-properties:item=Event_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="MyMovies.*" minLevel="Error" writeTo="AppExceptions"/>
	</rules>

</nlog>