<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="File" name="MyMovies" fileName="C:\logs\nlog-all-exceptions-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
	</targets>

	<rules>
		<logger name="MyMovies.*" minLevel="Error" writeTo="MyMovies"/>
	</rules>

</nlog>